<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="REGEX_ASSVER" value="AssemblyVersion\(\&quot;(\d+).(\d+|\*).(\d+|\*)[(\&quot;)|(.)]\d*\&quot;*\)"/>
    <add key="REGEX_ASSFVER" value="AssemblyFileVersion\(\&quot;(\d+).(\d+|\*).(\d+|\*)[(\&quot;)|(.)]\d*\&quot;*\)"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
